<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0072)http://zurb.com/playground/projects/responsive-email-templates/hero.html -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

  <meta name="viewport" content="width=device-width"></meta>

  <title>Code</title>
</head>


<body bgcolor="#FFFFFF">

<h3>Dear <%=recipientName%>,</h3>
<p align="center"> Your account secret is</p>
<p align="center" style="font-weight: bold"><%=accountSecret%></p>
<p align="center">No need for thanks giving, we are here for your service</p>
<p align="right" style="font-weight: bold"><%=senderName%></p>




</body>
</html>
