<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/facilitateInfo" method="POST" enctype='application/json'>
  <br><br><br><br><br><br><br><br>

  <b>DishName:</b>
  <input type="text"  name="dish_name" required>
  <br><br>
  <input type="text" name="dish_type" required><br><br>

  <input type="submit"  value="ADD" />


</form>
</body>
</html>





