
<!DOCTYPE html>
<html>
<head>
</head>
<body>



	<form action="/user/create" method="POST" enctype='application/json'>
<br><br><br><br><br><br><br><br>




<b>username:</b>
<input type="text" name="name" required>
<br><br>

<b>email:  </b>
<input type="email" name="email" required><br><br>

<b>V_ID:  </b>
<input type="number" name="v_id" required><br><br>

<b>contact: &nbsp&nbsp&nbsp</b>
<input type ="number" name="cell" required>


<input type="submit"  value="Create" >
  </form>




  <form action="/dishname/dishOperations" method="POST" enctype='application/json'>
    <br><br><br><br><br><br><br><br>

    <b>DishName:</b>
    <input type="text"  name="dishName" required>
    <br><br>
    <b>Dish Type:</b>
    <input type="text" name="dishType" required><br><br>
    <b>Dish Unit:</b>
    <input type="text" name="unit" required><br><br>
    <input type="submit"  value="ADD" />


  </form>






</body>
</html>
