<head>Home Foodies</head>
<h1 align= center> Home Foodies Web Portal Main Page  </h1>
<h4 align = center> Welcome to Project Home Foodies customer web portal </h4>
<h4 align = center> Links to signup, login colorization and styling is yet to be done</h4>

<a href="/user/signup_form" class="btn btn--lg btn--success" >Signup!</a>
<a href="/static/add" class="btn btn--lg btn--success" >add item!</a>
